@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-vanilla-powder-500;
  }
}

body {
  @apply text-night-500 text-base;
}

@layer components {
  .header {
    >div {
      @apply flex items-center justify-between max-w-6xl mx-auto;
    }

    @apply fixed top-0 w-full px-4 z-[9999];
  }

  .contactform {
    @apply block w-full rounded-md bg-vanilla-powder-500 outline outline-1 outline-gray-500 p-4 text-base placeholder-gray-500 focus:outline focus:outline-sky-500;
  }

  .overlay {
    @apply absolute inset-0 bg-black bg-opacity-40;
    // background: radial-gradient(circle, rgba(14, 14, 57, 0.25) 0%, rgba(33, 21, 92, 0.25) 100%);
  }
}

.swiper-pagination {
  @apply flex mx-2 gap-[0.05rem] items-center;
  width: fit-content !important;
  position: unset;

  .swiper-pagination-bullet {
    --swiper-pagination-bullet-border-radius: 2px;
    @apply w-3 h-3 bg-slate-400 opacity-100;
    border-radius: var(--swiper-pagination-bullet-border-radius);
    transition: all ease-in-out .5s;
  }

  .swiper-pagination-bullet-active {
    @apply bg-vanilla-powder-500 opacity-100 w-8;
  }
}

.swiper-button-prev,
.swiper-button-next {
  @apply cursor-pointer text-vanilla-powder-500 rounded opacity-75 hover:opacity-100;
}

h1,
h2,
h3,
h4,
button,
a {
  font-family: var(--font-bebas-neue);
}

.scroll-to-top {
  @apply hidden fixed bottom-8 right-[1%] 2xl:right-[2.5%] z-[99] cursor-pointer rounded-xl bg-vanilla-powder-300 p-2 text-2xl text-night-700 mix-blend-difference transition-all duration-500;

  @media screen and (min-width: 1340px) {
    @apply block;

  }
}



.swiper-thumbs>.swiper-wrapper {
  .swiper-slide {
    img {
      @apply overflow-hidden rounded-md;
    }

    @apply opacity-50 duration-200 transition-all cursor-pointer;

    &:hover {
      @apply opacity-100;
    }
  }

  .swiper-slide-thumb-active {
    @apply opacity-100;
  }

}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}